body {
  background: #fff;
  color: #666666;
  font-family: "Open Sans", sans-serif; }

a {
  color: #03C4EB;
  transition: 0.5s; }

a:hover, a:active, a:focus {
  color: #03c5ec;
  outline: none;
  text-decoration: none; }

p {
  padding: 0;
  margin: 0 0 30px 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0; }

#hero {
  display: table;
  width: 100%;
  height: 100vh;
  background: url("../images/portadapesas.jpg") top center fixed;
  background-size: cover; }
  #hero .hero-logo {
    margin: 20px; }
    #hero .hero-logo img {
      max-width: 100%; }
  #hero .hero-container {
    background: #1c1c1ccc;
    display: table-cell;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle; }
  #hero h1 {
    margin: 30px 0 10px 0;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    color: #fff; }
    @media (max-width: 768px) {
      #hero h1 {
        font-size: 28px;
        line-height: 36px; } }
  #hero h2 {
    color: #999;
    margin-bottom: 50px; }
    @media (max-width: 768px) {
      #hero h2 {
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 30px; }
        #hero h2 .rotating {
          display: block; } }
  #hero .rotating > .animated {
    display: inline-block; }
  #hero .actions a {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    text-decoration: none; }
  #hero .btn-get-started {
    background: #03C4EB;
    border: 2px solid #03C4EB;
    color: #fff; }
    #hero .btn-get-started:hover {
      background: none;
      border: 2px solid #fff;
      color: #fff; }
  #hero .btn-services {
    border: 2px solid #fff;
    color: #fff; }
    #hero .btn-services:hover {
      background: #03C4EB;
      border: 2px solid #03C4EB; }

#header {
  background: #1a1b1f; }
  #header .LOGO {
    width: 60px; }
  #header .navbar-toggler {
    color: white; }

.section-title {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700; }

.section-description {
  text-align: center;
  margin-bottom: 40px; }

.section-title-divider {
  width: 50px;
  height: 3px;
  background: #03C4EB;
  margin: 0 auto;
  margin-bottom: 20px; }

#about {
  background: #fff;
  padding: 80px 0; }
  #about .about-container {
    background: url("../images/EQUIPO1.jpg") no-repeat;
    background-position: right;
    background-size: contain; }
  #about .about-content {
    background: #fff; }
  #about .about-title {
    color: #333;
    font-weight: 700;
    font-size: 28px; }
  #about .about-text {
    line-height: 26px; }
    #about .about-text:last-child {
      margin-bottom: 0; }

#equipo {
  background: #f6f6f6;
  padding: 80px 0; }
  #equipo .profile {
    text-align: center; }
    #equipo .profile .pic {
      border-radius: 50%;
      border: 6px solid #fff;
      margin-bottom: 15px;
      overflow: hidden;
      height: 260px;
      width: 260px;
      display: inline-block; }
      #equipo .profile .pic img {
        max-width: 100%; }
    #equipo .profile h4 {
      font-weight: 700;
      color: #03C4EB;
      margin-bottom: 5px; }
    #equipo .profile span {
      color: #333333; }
  #equipo .quote {
    position: relative;
    background: #fff;
    padding: 60px;
    margin-top: 40px;
    font-size: 16px;
    font-style: italic;
    border-radius: 5px; }
    #equipo .quote b {
      display: inline-block;
      font-size: 22px;
      left: -9px;
      position: relative;
      top: -8px; }
    #equipo .quote small {
      display: inline-block;
      right: -9px;
      position: relative;
      top: 4px; }

#ENTRENAMIENTOS .columnas {
  padding: 115px 100px;
  background-color: #1a1b1f;
  color: white;
  font-family: "Lexend Deca", sans-serif;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (max-width: 576px) {
    #ENTRENAMIENTOS .columnas {
      padding: 50px; } }

#ENTRENAMIENTOS h2 {
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
  color: #30ffea; }
  @media (max-width: 576px) {
    #ENTRENAMIENTOS h2 {
      font-size: 30px; } }

#contact {
  background: #f7f7f7;
  padding: 200px 0; }
  #contact .info {
    color: #333333; }
    #contact .info i {
      font-size: 32px;
      color: #03C4EB;
      float: left; }
    #contact .info p {
      padding: 0 0 10px 50px;
      line-height: 24px; }
  #contact .form #sendmessage {
    color: #03C4EB;
    border: 1px solid #03C4EB;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px; }
  #contact .form #errormessage {
    color: red;
    display: none;
    border: 1px solid red;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px; }
  #contact .form #sendmessage.show, #contact .form #errormessage.show, #contact .form .show {
    display: block; }
  #contact .form .validation {
    color: red;
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 13px; }
  #contact .form input, #contact .form textarea {
    border-radius: 0;
    box-shadow: none; }
  #contact .form button[type="submit"] {
    background: #03C4EB;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s; }
    #contact .form button[type="submit"]:hover {
      background: #57e1fd; }
  #contact .whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    z-index: 1; }

#body-ingresar, #body-registrar {
  background: #202020; }

#form-ingresar, #form-registrar {
  margin-top: 70px;
  margin-bottom: 290px;
  width: fit-content;
  border-radius: 32px; }
  #form-ingresar .olvidastecontrasenia, #form-registrar .olvidastecontrasenia {
    margin-top: 20px;
    margin-bottom: 20px; }
  #form-ingresar .ingresodato, #form-registrar .ingresodato, #form-ingresar .btn-info, #form-registrar .btn-info, #form-registrar .boton-registrar {
    border-radius: 32px; }
  #form-ingresar .btn-info, #form-registrar .btn-info, #form-registrar .boton-registrar {
    width: 300px; }

#footer {
  background: #1a1b1f;
  padding: 30px 0;
  color: #fff; }

.btn-instagram {
  color: #dda5ff; }

.btn-facebook {
  color: #85b4ff; }

.btn-correo {
  color: #ffaaaa; }
