// Footer

#footer {
    background: #111;
    padding: 30px 0;
    color: #fff;
    
    .copyright {
        text-align: center;
    }
    
    .credits {
        padding-top: 10px;
        text-align: center;
        font-size: 13px;
        color: #ccc;
    
    }
}

// MAP------------------------
$redes:(instagram: #dda5ff, facebook: #85b4ff, correo: #ffaaaa);

@each $clave, $valor in $redes {
    .btn-#{$clave}{
        color: $valor;
    }
}