@import 'variables';

// Header

#header {
    background: $fondo-paraheader;

    .LOGO{
        width: 60px;
    }

    .navbar-toggler{
        // color: #ffffff;
        background-color: #70e5fc;
    }
}